node_modules/*
!node_modules/@blockly/
npm-debug.log
build-debug.log
.DS_Store
.settings
.project
*.gz
*.pyc
*.komodoproject
/nbproject/private/

tests/compile/main_compressed.js
tests/compile/main_compressed.js.map
tests/compile/*compiler*.jar
tests/screenshot/outputs/*
local_build/*compiler*.jar
local_build/local_*_compressed.js
chromedriver
typings/tmp/*
dist/*
!dist/index.html
!dist/temp/
!dist/core/
!dist/closure/
!dist/blockly_uncompressed.js